.vscode/**
.vscode-test/**
.vscode-test.*
src/**
test/**
out/**
docs/**
.github/**
.claude/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts

node_modules/**

# Keep bundled output and assets
!dist/**
!images/**
