.vscode/**
.vscode-test/**
.vscode-test.*
src/**
test/**
docs/**
.github/**
.claude/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
node_modules/.bin/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
!out/**
!images/**
